<ul class="mt-10 flex flex-col space-y-8">
  <%= for tag <- @photo.tags do %>
    <li>
      <.form for={%{}} action={~p"/photos/#{@photo}/tags/#{tag.name}"} method="delete">
        {tag.name}
        <.button>Remove</.button>
      </.form>
    </li>
  <% end %>
</ul>
<.simple_form :let={f} for={%{"tag" => ""}} action={~p"/photos/#{@photo}/tags"} method="post">
  <.input field={f[:tag]} type="text" label="New tag" />
  <:actions>
    <.button>Add tag</.button>
  </:actions>
</.simple_form>
