<div class="grid grid-cols-7 gap-4 h-full">
  <div id="folder-section" class="col-span-1 overflow-y-auto">
    <.folders all_folders={@all_folders} all_tags={@all_tags} folder={@folder} tags={@tags} recommended_tags={@recommended_tags} />
  </div>
  <div id="gallery-section" class="col-span-4 overflow-y-auto">
    <.gallery photos={@filtered_photos} folder={@folder} tags={@tags} />
  </div>
  <div id="photo-section" class="col-span-2 overflow-y-auto">
    <%= if @photo do %>
      <.photo photo={@photo} folder={@folder} tags={@tags} recommended_tags={@recommended_tags} />
    <% end %>
  </div>
</div>