<.header>
  New Photo
  <:subtitle>Use this form to add new photos to the gallery.</:subtitle>
</.header>

<.new_photo_form changeset={@changeset} action={~p"/admin/photos"} />

<.back navigate={~p"/admin"}>Back to gallery</.back>
