<.header>
  New Photo
  <:subtitle>Use this form to add new photos to the gallery.</:subtitle>
</.header>

<.new_photo_form changeset={@changeset} action={~p"/photos"} />

<.back navigate={~p"/"}>Back to gallery</.back>
