<.simple_form :let={f} for={@changeset} action={@action} multipart id="new_photo_form">
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <%!-- <.input field={f[:name]} type="text" label="Name" /> --%>
  <.input field={f[:folder]} type="text" label="Folder" required />
  <.input field={f[:images]} type="file" label="Image" multiple required />
  <input class="hidden" type="text" name="photo[file_metadata]" id="new_photo_form_file_metadata" />
  <%!-- <.input
    field={f[:tags]}
    type="select"
    multiple
    label="Tags"
    options={[{"Option 1", "option1"}, {"Option 2", "option2"}]}
  /> --%>
  <:actions>
    <.button>Save Photo</.button>
  </:actions>
</.simple_form>
