<div class="h-screen flex flex-col">
  <div class="p-2 ">
    <.header>
      <span class="hidden md:inline">
        Photo Tagger
      </span>      
      <:actions>
        <.link class="pr-2 md:pr-4 lg:px-4" href={~p"/admin"}>
          Gallery
        </.link>
        <.link class="pr-2 md:pr-4 lg:px-4" href={~p"/admin/edit-tags"}>
          Edit Tags
        </.link>
        <.link class="pr-2 md:pr-4 lg:px-4" href={~p"/admin/edit-folders"}>
          Edit Folders
        </.link>
        <.link href={~p"/admin/photos/new"}>
          <.button class="py-2 md:py-1 lg:py-2">Upload Photos</.button>
        </.link>
      </:actions>
    </.header>
  </div>

  <div class="">
    <.flash_group flash={@flash} />
  </div>

  <main class="pl-4 sm:pl-6 lg:pl-8 overflow-y-auto overscroll-none">
    {@inner_content}
  </main>
</div>
