<div class="h-screen flex flex-col">
  <div class="p-2 ">
    <.header>
      Photo Tagger
      <:actions>
        <.link class="px-4" href={~p"/edit-tags"}>
          Edit Tags
        </.link>
        <.link class="px-4" href={~p"/edit-folders"}>
          Edit Folders
        </.link>
        <.link href={~p"/photos/new"}>
          <.button>Upload Photos</.button>
        </.link>
      </:actions>
    </.header>
  </div>

  <div class="">
    <.flash_group flash={@flash} />
  </div>

  <main class="px-4 py-5 sm:px-6 lg:px-8 overflow-y-auto overscroll-none">
    {@inner_content}
  </main>
</div>
