<div class="m-2">
  <.header>
    Photo Tagger
    <:actions>
      <.link href={~p"/photos/new"}>
        <.button>Upload Photos</.button>
      </.link>
    </:actions>
  </.header>
</div>

<main class="px-4 py-5 sm:px-6 lg:px-8 h-screen">
  <div class="mx-auto h-full">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
